asgiref==3.3.1
attrs==20.3.0
Django==3.1.4
iniconfig==1.1.1
mysqlclient==2.0.1
packaging==20.7
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-django==4.1.0
pytest-pythonpath==0.7.3
pytz==2020.4
selenium==3.141.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.2
pandas==1.1.4
