{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if has_close_out_permission %}
      <div class="submit-row">
          <input type="submit" value="Close Out" name="_close_out">
      </div>
    {% endif %}
    {% if can_return_to_vault %}
      <div class="submit-row">
          <input type="submit" value="Return Stones to Main Vault" name="_return_to_vault">
      </div>
    {% endif %}
    {% if can_confirm_transfer %}
      <div class="submit-row">
          <input type="submit" value="Confirm Transfer" name="_confirm_transfer">
      </div>
    {% endif %}
{% endblock %}
